<docs lang="markdown">
[TODO: write documentation for this plugin.]
</docs>

<config lang="json">
{
  "name": "FQ-interface",
  "type": "window",
  "tags": [],
  "ui": "",
  "version": "0.0.3",
  "cover": "",
  "description": "[TODO: describe this plugin with one sentence.]",
  "icon": "extension",
  "inputs": null,
  "outputs": null,
  "api_version": "0.1.8",
  "env": "",
  "permissions": [],
  "requirements": [
                      "https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css",
                      "https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js",
                      "https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css",
                      "https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly.min.js",
                      "https://unpkg.com/buefy/dist/buefy.min.js",
                      "https://unpkg.com/buefy/dist/buefy.min.css"
                      ],
  "dependencies": [],
  "runnable": false,
  "defaults": {"w": 20, "h": 20}
}
</config>

<script lang="javascript">
class ImJoyPlugin {
  async setup() {

    const self = this

    // For interaction with plot to show detection tests
    api.on('create_detection_plot', ()=>{

      // Create plotly plot
      let graph_detection = document.getElementById('graph_detection');
    
      let data = [{
          x: [],
          y: [],
          mode: "lines+markers",
          type: 'scatter'
        }],

        layout = {
                    hovermode:'closest',
                    xaxis: { title: { text: 'Intensity threshold'}},
                    yaxis: { title: { text: '# detected spots'}},
        }

     Plotly.newPlot('graph_detection', data, layout, {responsive: true});
    
    });

    api.on('extend_detection_plot', (th_tests)=>{
      let graph_detection = document.getElementById('graph_detection');
      console.log(th_tests)
      let value_x = th_tests[0];
      let value_y = th_tests[1];

      console.log(value_y)
      Plotly.extendTraces(graph_detection, { x:[[value_x]], y:[[value_y]]  },[0])

    })

    // Render different tabs with attachments
    document.getElementById('cont_data').innerHTML = (await api.getAttachment('data'));
    document.getElementById('cont_detection').innerHTML = (await api.getAttachment('detection'));
    document.getElementById('cont_postprocessing').innerHTML = (await api.getAttachment('postprocessing'));

    // Get plugins from workspace
    // TODO: maybe we can change this and provide this as an input to allow for remote calls?
    this.fq_worker = await api.getPlugin("FISH-QUANT")
    this.fq_viewer = await api.getPlugin("FQ-image-viewer")

    // Get file-manager of FQ plugin
    const fq_worker_url = await this.fq_worker.get_engine_url()
    console.log('URL of connected FQ-worker: ' +  fq_worker_url)

    // Get last used values (if present)
    var reg_exp = await api.getConfig('reg_exp')
    if(! reg_exp) {
      reg_exp = '(?P<fov>.*)-(?P<file_ident>Exp.*)_(?P<channel>.*)\\.(?P<img_ext>.*)'
    }

    var data_path = await api.getConfig('data_path')
    if(! data_path) {data_path = 'paste-path-to-data'}

    var img_ext = await api.getConfig('img_ext')
    if(! img_ext) {img_ext = 'tif'}

    var sigma_xy =  parseFloat(await api.getConfig('sigma_xy'));
    if(! sigma_xy) {sigma_xy = 0.75}

    var sigma_z = parseFloat(await api.getConfig('sigma_z'));
    if(! sigma_z) {sigma_z = 1}

    var voxel_size_yx =  parseFloat(await api.getConfig('voxel_size_yx'));
    if(! voxel_size_yx) {voxel_size_yx = 100}

    var voxel_size_z = parseFloat(await api.getConfig('voxel_size_z'));
    if(! voxel_size_z) {voxel_size_z = 300}

    var psf_size_xy =  parseFloat(await api.getConfig('psf_size_xy'));
    if(! psf_size_xy) {psf_size_xy = 200}

    var psf_size_z = parseFloat(await api.getConfig('psf_size_z'));
    if(! psf_size_z) {psf_size_z = 400}

    var foci_nb_min_spots =  parseFloat(await api.getConfig('foci_nb_min_spots'));
    if(! foci_nb_min_spots) {foci_nb_min_spots = 4}

    var foci_radius = parseFloat(await api.getConfig('foci_radius'));
    if(! foci_radius) {foci_radius = 400}

    var cluster_alpha = parseFloat(await api.getConfig('cluster_alpha'));
    if(! cluster_alpha) {cluster_alpha = 0.5}

    var cluster_beta = parseFloat(await api.getConfig('cluster_beta'));
    if(! cluster_beta) {cluster_beta = 2}

    // Initialize parameters
    this.store = {
          version_interface: await api.getConfig('_version'),
          version_FQ: '',
          version_bigfish: '',
          active_tab: 'data',
          txt_navbar: 'No image loaded',
          txt_navbar_details: '',
          fq_worker: this.fq_worker,
          fq_worker_url: fq_worker_url,
          files: [],
          file_loaded: '',
          data_path: data_path, 
          output_path:"acquisition>>analysis",
          img_ext: img_ext,
          channels: [],
          analysis_region: [],
          ch_name: [],
          ch_ident: [],
          reg_exp: reg_exp,
          voxel_size_yx: voxel_size_yx,
          voxel_size_z:  voxel_size_z,
          psf_size_xy: psf_size_xy,
          psf_size_z: psf_size_z,
          cluster_alpha: cluster_alpha,
          cluster_beta: cluster_beta,
          foci_radius: 300,
          foci_nb_min_spots: 4,
          images: [],
          current_index: 0,
          channel_selected: null,
          sigma: [sigma_z, sigma_xy, sigma_xy],  // ZYX
          threshold_range: [0, 5000, 50 ], // min, max, n_bins
          minimum_distance: [2, 2], // xy, z
          detection_plot: [],
          detection_threshold: null,
          img_filt: [],
          img_filt_load : null,
          img_filt_min:0,
          img_filt_max:0,
          th_range_min:0,
          th_range_max:5000,
          th_range_nbins:50,
          analyze_clusters: false,
          create_plots: true,
          show_filtered: true,
          show_detection: true,
          running_load: false,
          running_filter: false,
          running_detect_test: false,
          running_detect_apply: false,
          running_decompose_clusters: false,
          running_detect_foci: false,
          running_detect_image: false,
          running_detect_batch: false,
          status_image_loaded: false,
          status_image_filtered: false,
          status_channel_selected: false,
          status_thresholds_tested: false,
          status_detection_applied: false,
          status_detect_apply: false,
          status_decompose_clusters: false,
    },

    // Initialize vue app
    this.app = new Vue({
      el: '#app',
      data: this.store,

      methods: {
          
          // Open URL in external window
          openUrl(url){
              api.utils.openUrl(url)
          },

          // Open docs
          openDocs(section){
            api.showDialog({type: "external", src: "https://fish-quant.github.io/fq-imjoy"+section, passive: true})
          },

          // Data: remove channel
          remove_channel: function(ch) {
            this.channels.splice(this.channels.indexOf(ch), 1);
          },

          // Data: add channel
          add_channel: function() {
            this.channels.push({name: this.ch_name,identifier: this.ch_ident})
            // Reset fields
            this.ch_name = []
            this.ch_ident = []
          },

          // Scan data directory
          btn_scan_folder: async function() {
            self.scan_folder()
          },

          // Load image
          btn_load_image: async function(file){
            self.load_image(file)
          },

          showImageFilt(obj){
                  this.img_filt = obj
              },

          showImage(obj){
              this.images.push(obj)
              if(this.images.length>5){
                  this.images.shift()
              }
              this.current_index = this.images.length -1
          },

          setThreshold(threshold){
            this.detection_threshold = threshold
          },


          // Select region for analysis
          btn_select_analysis_region: async function(file){
            self.select_analysis_region(file)
          },


          // Callback to save filtered image
          dblclick_show_image_raw: async function(channel_selected){
            console.log(channel_selected)
            this.fq_worker.show_image({
                        'channel_selected': channel_selected,
                        'image_type': 'raw',
                        'image_dim': 'mip',
                        'display_type': 'dialog'
                        })
          },

          // Callback to filter image
          btn_filter_image: async function(){
            self.filter_image()
          },

          // Callback to show filtered image: as resizable window
          btn_show_image_filtered: async function(){
            this.fq_worker.show_image({
                        'channel_selected': this.channel_selected,
                        'image_type': 'filtered',
                        'image_dim': 'mip',
                        'display_type': 'window'
                        })
          },

          // Callback to show filtered image: as dialog
          dblclick_show_image_filtered: async function(){
            this.fq_worker.show_image({
                        'channel_selected': this.channel_selected,
                        'image_type': 'filtered',
                        'image_dim': 'mip',
                        'display_type': 'dialog'
                        })
          },

          // Callback to save filtered image
          btn_save_image_filtered: async function(){
            self.save_image_filtered()
          },

          // Callback to plot detections detection
          btn_detection_test_thresholds: async function(){
            this.running_detect_test = true
            await self.detection_test_thresholds()
            this.running_detect_test = false
          },

          // Callback to plot detections detection
          btn_detection_apply: async function(){
            self.detection_apply()
          },

          // Callback to plot detections detection
          btn_decompose_clusters: async function(){
            self.decompose_clusters()
          },

          // Callback to plot detections detection
          btn_detect_foci: async function(){
            self.detect_foci()
          },
          
          // Callback to plot detections detection
          btn_detection_batch: async function(){
            self.detection_batch()
          },

          // Callback to plot detections detection
          btn_detection_file: async function(){
            self.detection_file()
          },

      } // END methods vue
    }) // END vue
  } // END SETUP


  /**
   * Reset all processing parameters
   */
  async reset_parameters(){

      this.store.images = []
      this.store.img_filt = []
      this.store.analysis_region = []

      this.store.channel_selected = null
      this.store.detection_threshold = null
      
      this.store.status_image_loaded = false
      this.store.status_image_loaded = false
      this.store.status_image_filtered = false
      this.store.status_channel_selected = false
      this.store.status_thresholds_tested = false
      this.store.status_detection_applied = false
      this.store.status_detect_apply = false
      this.store.status_decompose_clusters = false
  }


  /**
   * Returns simplified object that can be used an input for python function
   * @return {object} Object to be used as argument for Python functions.
   */
  async params_for_python(config={}){

    let  params = Object.assign({}, this.store);

    // Remove properties that are not needed in Python
    delete params.images;
    delete params.img_filt;
    delete params.img_filt_load;
    console.log(config)
    if (!("keep_detection_plot" in config && config.keep_detection_plot == true)) {
      delete params.detection_plot;
    }

    return params;
  }
  
  /**
   * Scan folder for file fitting the regular expression
   * @param  {Number} num1 The first number
   * @param  {Number} num2 The second number
   * @return {Number}      The total of the two numbers
   */
  async scan_folder(){

      // Call python function to scan folder
       this.store.files = []
      let config = await this.params_for_python()
      let file_list = await this.fq_worker.scan_folder(config)

      // Get all channel names
      let ch_names = this.store.channels.map(channel => channel['name'])

      // Replace file list with new scan results
      file_list.map(update_files.bind(this))

      function update_files(file){

        let file_info = {
              file_ident: file['file_ident'],
              fov: file['fov'],
              img_ext: file['img_ext']
        }

        // Assign all channel names
        ch_names.map(function(ch_name){
          file_info[ch_name] = file[ch_name]
        })
        this.store.files.push(file_info)
      }

  }

  /**
   * Load image
   */
  async load_image(file) {
      this.store.running_load=true

      // Reset parameters and graph
      this.reset_parameters()

      let graph_detection = document.getElementById('graph_detection');
      if (graph_detection != null){
          Plotly.purge(graph_detection);
      };

      // Load image
      let config = await this.params_for_python();
      config.file = file;
      config.create_mips = true;
      config.show_status = true;
      let mips = await this.fq_worker.load_image(config)

      // Assign images to carousel
      mips.map(mip => this.app.showImage({
                            'url': mip.url,
                            'index': mip.channel,
                            'key': Date.now(),
                            'channel': mip.channel,
                            'shape': mip.shape,
                            })
      )

      // Update parameters
      this.store.txt_navbar = 'Loaded image IDENTIFIER :: FOV  :  ' + file.file_ident + ' :: ' + file.fov;
      this.store.file_loaded = file;
      this.store.status_image_loaded = true;
      
      // Store parameters for next launch
      api.setConfig('data_path', this.store.data_path)
      api.setConfig('reg_exp', this.store.reg_exp)
      api.setConfig('img_ext', this.store.img_ext)
      api.setConfig('voxel_size_yx', this.store.voxel_size_yx)
      api.setConfig('voxel_size_z', this.store.voxel_size_z)

      this.store.running_load=false;

  }


  /**
   * Set smaller region for analysis
   * Used as a callback function.
   */
  async set_analysis_region(coords) {
    console.log('[FISH-quant] Obtained coordinates:' + coords)
    this.store.analysis_region = coords
  }


  /**
   * Select smaller region for analysis
   */
  async select_analysis_region() {

    // Get image corresponding to selected channel
    var img_selected = this.store.images.find(obj => {
      return obj.channel === this.store.channel_selected
    })

    if (img_selected === undefined){
      api.alert('Select a channel first')
      return
    }

    // Sending data to the viewer
    console.log('[FQ] sending data to viewer.')
    await this.fq_viewer.run({'data':{
                                      'url': img_selected['url'],
                                      'shape':img_selected['shape'],
                                      'callback_return_region': this.set_analysis_region
                                      }
    })
  }


  /**
   * Filter image
   */  
  async filter_image() {
      this.store.running_filter=true

      // Reset loaded filtered image
      this.store.img_filt = []
 
      // Filter image
      let config = await this.params_for_python();
      config.create_mips = true;
      config.show_status = true;
      this.store.img_filt_load = await this.fq_worker.filter_image(config)

      // Show filtered image
      this.app.showImageFilt({
                    'url': this.store.img_filt_load['url'],
                    'meta': 'loaded image'
                    })

      // Save some parameters of filtered image
      this.store.img_filt_min = this.store.img_filt_load['min']
      this.store.img_filt_max = this.store.img_filt_load['max']
      this.store.status_image_filtered = true

      // Set filtering parameters for next load of FQ
      api.setConfig('sigma_xy', this.store.sigma[1])
      api.setConfig('sigma_z', this.store.sigma[0])

      this.store.running_filter=false
  }


  /**
   * Save filtered image
   */
  async save_image_filtered() {
      let config = await this.params_for_python();
      this.fq_worker.save_image_filtered(config)
  }


  /**
   * Test thresholds for detection
   */
  async detection_test_thresholds() {

    this.store.running_detect_test=true
    
    // Test thresholds
    let config = await this.params_for_python();
    config.show_status = true;
    let th_tests = await this.fq_worker.detect_test_thresholds(config)

    //
    this.store.status_thresholds_tested = true

    // Create plotly plot
    var graph_detection = document.getElementById('graph_detection');
    
    var data = [{
          x: th_tests[0],
          y: th_tests[1],
          mode: "lines+markers",
          type: 'scatter'
        }],
        layout = {
                    hovermode:'closest',
                    xaxis: { title: { text: 'Intensity threshold'}},
                    yaxis: { title: { text: '# detected spots'}},
        }

    await Plotly.newPlot('graph_detection', data, layout, {responsive: true});
    
    graph_detection.on('plotly_click', async (data) => {
          var txt = '',
              th = [],
              n_spots = []
          for(var i=0; i < data.points.length; i++){
            th = data.points[i].x,
            n_spots = data.points[i].y
            txt = 'Threshold = '+ th +'\nN_spots = '+ n_spots + '\n\n';
          }
          this.app.setThreshold(th)
    });
 
    this.store.detection_plot = await Plotly.toImage('graph_detection', {format: 'png', width: 800, height: 600})
    this.store.running_detect_test = false
  }

  /**
   * Apply detection threshold
   */
  async detection_apply() {
    
    // Perform detection
    this.store.running_detect_apply=true
    let config = await this.params_for_python();
    config.show_status = true;
    var spots = await this.fq_worker.detect_apply(config)
    
    // Display results
    this.fq_viewer.run({'data':{
                              'url': this.store.img_filt_load['url'],
                              'shape':this.store.img_filt_load['shape'],
                              'points':spots}
                              })
    
    this.store.running_detect_apply=false
    this.store.status_detection_applied = true
  }


  /**
   * Decompose clusters
   */
  async decompose_clusters() {
    
    this.store.running_decompose_clusters=true

    // Decompose clusters
    let config = await this.params_for_python();
    config.show_status = true;
    var spots = await this.fq_worker.decompose_clusters(config)

    // Show detected spots
    this.fq_viewer.run({'data':{
                              'url': this.store.img_filt_load['url'],
                              'shape':this.store.img_filt_load['shape'],
                              'points':spots}
                              })

    // Update interface
    api.setConfig('psf_size_xy', this.store.psf_size_xy)
    api.setConfig('psf_size_z', this.store.psf_size_z)
    this.store.running_decompose_clusters=false
    this.store.status_decompose_clusters=true

  }


  /**
   * Detect foci
   */
  async detect_foci() {
    
    this.store.running_detect_foci=true

    // Detect foci
    let config = await this.params_for_python();
    config.show_status = true;
    config.name_save = 'tmp';
    var spots = await this.fq_worker.detect_foci(config)

    // Update interface
    this.store.running_detect_foci=false
    this.store.status_detect_foci=true
    api.setConfig('foci_nb_min_spots', this.store.foci_nb_min_spots)
    api.setConfig('foci_radius', this.store.foci_radius)

  }


  /**
   * Analyze current file
   */  
  async detection_file() {
    this.store.running_detect_image=true

    let config = await this.params_for_python({keep_detection_plot: true});
    config.batch_analysis = false;
    await this.fq_worker.detection_file(config)

    this.store.running_detect_image=false
  }

  /**
   * Batch detection
   */
  async detection_batch() {

    this.store.running_detect_batch=true

    let config = await this.params_for_python({keep_detection_plot: true});
    config.batch_analysis = true;
    await this.fq_worker.detection_batch(config)

    this.store.running_detect_batch=false
    this.reset_parameters()
  }
  
  async run(ctx) {

    if(ctx.data){
      console.log(ctx.data)
      this.store.version_FQ = ctx.data['version_FQ']
      this.store.version_bigfish = ctx.data['version_bigfish']
    }
  }
}

api.export(new ImJoyPlugin())
</script>

<attachment name="data">

  <!-- Card to specify data -->
  <div class="card">
    <div class="card-content">

      <!-- Summary -->
      <div class="summary">
        <div class="summary-content">
          <p class="title is-4">Specify data</p>

          <b-field grouped>
            <p class="control">
              <b-button rounded outlined type="is-primary" icon-left="help-circle" size="is-small" @click="openDocs('/data')"></button>
            <p>
            <p class="subtitle is-6">Specify images to be loaded and analyzed. </p>
          </b-field>

        </div>
      </div>
      <br>

      <!-- Actual content -->
      <div class="content">

        <!-- Specify data folder -->
        <b-field label="DATA folder" horizontal grouped expanded>
          <b-field expanded>
            <b-input v-model="data_path" placeholder="paste-path-to-data"></b-input>
          </b-field>
        </b-field> <!-- END: specify data folder -->

        <!-- Specify results folder -->
        <b-field horizontal label="RESULTS folder" >
          <b-field>
            <b-input  v-model="output_path" placeholder="" expanded></b-input>
            <p class="control">
                <b-button type="is-primary" outlined icon-left="help-circle" @click="openDocs('/fq-load-data/#specify-folder-to-save-results')"></b-button>
            </p>
          </b-field>
        </b-field> <!-- END: specify results folder -->

        <!-- Specify regular expression -->
        <b-field label="Regular expression" horizontal grouped>
          <b-field >
            <b-input  v-model="reg_exp" expanded></b-input>
            <p class="control">
                <b-button type="is-primary"  @click="openUrl('https://pythex.org/?regex='+reg_exp)">Test expression</b-button>
            </p>
            <p class="control">
                <b-button type="is-primary" outlined icon-left="help-circle" @click="openDocs('/data/#naming-convention')"></b-button>
            </p>
          </b-field>
        </b-field> <!-- END: specify regular expression -->

        <!-- Specify pixel size -->
        <b-field label="Pixel size" horizontal grouped>
          <b-field>
            <p class="control"> <span class="button is-static">XY [nm]</span></p>
            <b-input placeholder="107" v-model.number="voxel_size_yx"></b-input>
          </b-field>
          <b-field>
            <p class="control"> <span class="button is-static">z [nm]</span></p>
            <b-input placeholder="300" v-model.number="voxel_size_z"></b-input>
          </b-field>
        </b-field> <!-- END: specify pixel size -->
        
                <!-- Specify pixel size -->
        <b-field label="Image extension" horizontal grouped>
          <b-field>
            <b-input  v-model="img_ext"></b-input>
          </b-field>
        </b-field> <!-- END: specify pixel size -->

        <!-- Channels -->
        <hr>
        <div class="columns is-desktop">

          <!-- Specify channels -->
          <div class="column">


            <b-field label="Channels" horizontal grouped>
              <b-field>
                <p class="control"> <span class="button is-static">Name</span></p>
                <b-input placeholder="Name of channel" v-model="ch_name"></b-input>
              </b-field>
            </b-field>

            <b-field horizontal grouped>
              <!-- Label left empty for spacing -->
              <b-field>
                <p class="control"> <span class="button is-static">Identifier</span></p>
                <b-input placeholder="Unique string in name" v-model="ch_ident"></b-input>
              </b-field>
            </b-field>

            <b-field horizontal grouped>
              <!-- Label left empty for spacing -->
              <b-field>
                <b-button type="is-primary" icon-left="plus-circle" @click="add_channel" :disabled="ch_name.length==0 || ch_ident.length==0">Add</b-button>
              </b-field>
            </b-field>

          </div> <!-- END: Specify channels -->
          <!-- SHOW channels -->
          <div class="column">

            <div style="text-align: center;">
              <table class="table is-striped is-hoverable is-narrow">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Identifier</th>
                    <th>Remove?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="ch in channels" :key="ch.name">
                    <td>{{ch.name}}</td>
                    <td>{{ch.identifier}}</td>
                    <td>
                      <b-button class="b-button" icon-left="delete" @click="remove_channel(ch)"> </b-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- END: SHOW channels -->
        </div> <!-- END: channels -->


      </div> <!-- END Class content -->
    </div> <!-- END class card-content -->
  </div> <!-- END class card -->
  <br>

  <!-- Card to specify data -->
  <div class="card">
    <div class="card-content">

      <!-- Summary -->
      <div class="summary">
        <div class="summary-content">
          <p class="title is-4">Data in folder fitting search criteria</p>
          <p class="subtitle is-6">Load one dataset for analysis. </p>
        </div>
      </div>
      <br>

      <!-- Actual content -->
      <div class="content">

        <b-button expanded type="is-primary" :disabled="channels.length==0" @click="btn_scan_folder">Scan folder for all files fitting the search criteria</b-button>
        <br>

        <div class="columns is-desktop">

          <!-- Table with files that can be loaded -->
          <div class="column">
            <table class="table is-striped is-hoverable is-narrow">
              <thead>
                <tr>
                  <th>Identifier</th>
                  <th>FOV</th>
                  <th>Load image</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="file in files" :key="file.file_ident" v-bind:class="{'is-selected':(file === file_loaded)}">
                  <td>{{file.file_ident}}</td>
                  <td>{{file.fov}}</td>
                  <td>
                    <b-button icon-left="upload" :loading="running_load" @click="btn_load_image(file)"></b-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Image carousel with loaded images-->
          <div class="column">
            <div>
              <b-carousel autoplay=false v-if="images.length" :indicator-inside="false">
                <b-carousel-item v-for="(img, i) in images" :key="i">
                  <img class="img-responsive rounded" style="margin-top: 5px; max-height: 600px;" v-bind:src="img.url" :alt="img.index" v-on:dblclick="dblclick_show_image_raw(img.index)">
                </b-carousel-item>
                <template slot="indicators" slot-scope="props">
                  <span class="al image">
                    <span> {{ channels[props.i].name }}</span>
                  </span>
                </template>
              </b-carousel>
            </div>
          </div>
        </div>

      </div> <!-- END Class content -->
    </div> <!-- END class card-content -->
  </div> <!-- END class card -->

</attachment>

<attachment name="detection">

  <!-- Card to specify channel -->
  <div class="card">
    <div class="card-content">

      <!-- Summary -->
      <div class="summary">
        <div class="summary-content">
          <p class="title is-4">Select channel</p>
          <p class="subtitle is-6">Select channel, and [optional] region to be used for testing. </p>
        </div>
      </div>
      <br>

      <!-- Actual content -->
      <div class="content">

        <div class="columns is-desktop">

          <div class="column">
            <!-- Select which channel should be processed-->
            <aside class="menu">

              <ul class="menu-list" v-for="channel in channels" v-bind:key="channel.name">
                <b-radio v-bind:native-value="channel.name" v-model="channel_selected">{{channel.name}}</b-radio>
                </li>
              </ul>
            </aside>
          </div>

          <div class="column">
            <section>
              <b-button type="is-primary" outlined @click="btn_select_analysis_region" :disabled="status_image_loaded==false || channel_selected==null">Select smaller region for testing</b-button>
            </section>
          </div>
        </div>
      </div> <!-- END Class content -->
    </div> <!-- END class card-content -->
  </div> <!-- END class card -->


  <!-- Card to specify Filter -->
  <br>
  <div class="card">
    <div class="card-content">

      <!-- Summary -->
      <div class="summary">
        <div class="summary-content">
          <p class="title is-4">Filter image</p>

          <b-field grouped>
            <p class="control">
              <b-button rounded outlined type="is-primary" icon-left="help-circle" size="is-small" @click="openDocs('/fq-spot-detection/#log-filter')"></button>
            <p>
            <p class="subtitle is-6">Remove background and enhance spots. </p>
          </b-field>

        </div>
      </div>
      <br>

      <!-- Actual content -->
      <div class="content">

        <!--Specify filters -->
        <section>
          <b-field grouped group-multiline>
            <p class="control">
              <b-button type="is-primary" :loading="running_filter" :disabled="status_image_loaded==false || channel_selected==null" @click="btn_filter_image">Filter image</b-button>
            </p>
            <b-field>
              <p class="control"> <span class="button is-static">sigma-xy</span></p>
              <b-input placeholder="1" v-model.number="sigma[1]"></b-input>
            </b-field>

            <b-field>
              <p class="control"> <span class="button is-static">sigma-z</span></p>
              <b-input placeholder="1.25" v-model.number="sigma[0]"></b-input>
            </b-field>

          </b-field>
        </section> <!-- END: Specify filters -->

        <br>
        <section>
          <b-field grouped group-multiline>
            <b-field>
              <b-checkbox v-model="show_filtered" :disabled="status_image_filtered==false"> Show filtered image</b-checkbox>
            </b-field>
            <b-field>
              <b-button type="is-primary" outlined :disabled="status_image_filtered==false" @click="btn_show_image_filtered">Open filtered image for inspection</b-button>
            </b-field>
            <b-field>
              <b-button type="is-primary" outlined :disabled="status_image_filtered==false" @click="btn_save_image_filtered">Save filtered image</b-button>
            </b-field>
          </b-field>
        </section> <!-- END: Specify filters -->

        <img v-if="img_filt" v-show="show_filtered" class="img-responsive rounded img-embed" style="margin-top: 5px; max-height: 600px;" :src="img_filt.url" :alt="img_filt.meta" v-on:dblclick="dblclick_show_image_filtered" id="cont_img_filt"></img>

      </div> <!-- END Class content -->
    </div> <!-- END class card-content -->
  </div> <!-- END class card -->


  <!-- Card to set up detection -->
  <br>
  <div class="card">
    <div class="card-content">

      <!-- Summary -->
      <div class="summary">
        <div class="summary-content">
          <p class="title is-4">Spot detection</p>
          <p class="subtitle is-6">Define intensity threshold to perform spot detection. </p>
        </div>
      </div>
      <br>

      <!-- Actual content -->
      <div class="content">

        <b-field grouped>
          <p class="control">
            <button class="button is-primary" :loading="running_detect_test" :disabled="status_image_filtered==false" @click="btn_detection_test_thresholds">
              Test thresholds
            </button>
          </p>

          <b-field>
            <p class="control"> <span class="button is-static">Min dist XY</span></p>
            <b-input placeholder="107" v-model.number="minimum_distance[0]"></b-input>
          </b-field>

          <b-field>
            <p class="control"> <span class="button is-static">Min dist Z</span></p>
            <b-input placeholder="107" v-model.number="minimum_distance[1]"></b-input>
          </b-field>

          <b-collapse :open="true" aria-id="contentIdForA11y1" :disabled="status_image_filtered==false">
            <b-button class="button is-primary" :disabled="status_image_filtered==false" slot="trigger" icon-left="arrow-down-drop-circle" aria-controls="contentIdForA11y1">Specify intensity range to test thresholds</b-button>
            <div class="notification">

              <b-field label="Minimum">
                <b-numberinput type="is-dark" :disabled="status_image_filtered==false" v-model.number="threshold_range[0]" :min="img_filt_min" :max="img_filt_max">
                </b-numberinput>
              </b-field>

              <b-field label="Maximum">
                <b-numberinput type="is-dark" :disabled="status_image_filtered==false" v-model.number="threshold_range[1]" :min="img_filt_min" :max="img_filt_max">
                </b-numberinput>
              </b-field>

              <b-field label="Number of values">
                <b-numberinput type="is-dark" :disabled="status_image_filtered==false" v-model.number="threshold_range[2]" min=2 max=300>
                </b-numberinput>
              </b-field>

            </div>
          </b-collapse>

        </b-field> <!-- END test thresholds -->


        <b-field grouped>
          <p class="control">
            <button class="button is-primary" :loading="running_detect_apply" :disabled="status_thresholds_tested==false || detection_threshold == null" @click="btn_detection_apply">
              Apply detection threshold
            </button>
          </p>

          <b-field>
            <p class="control"> <span class="button is-static">Threshold</span></p>
            <b-input placeholder="Set threshold either manually or by clicking on graph below" v-model.number="detection_threshold"></b-input>
          </b-field>

          <b-field>
            <b-checkbox v-model="show_detection" :disabled="status_thresholds_tested==false"> Show threshold test</b-checkbox>
          </b-field>

        </b-field> <!-- END specify thresholds -->

        <!-- Plot results -->
        <div id="graph_detection" v-show="status_image_filtered & show_detection" class="graph_resize" style="margin-top: 5px; max-height: 600px;"></div>


      </div> <!-- END Class content -->
    </div> <!-- END class card-content -->
  </div> <!-- END class card -->

  <!-- Card to Decompose foci -->
  <br>
  <div class="card">
    <div class="card-content">

      <!-- Summary -->
      <div class="summary">
        <div class="summary-content">
          <p class="title is-4">[Optional] decompose RNA aggregates</p>
  
          <b-field grouped>
            <p class="control">
              <b-button rounded outlined type="is-primary" icon-left="help-circle" size="is-small" @click="openDocs('/fq-spot-detection/#log-filter')"></button>
            <p>
            <p class="subtitle is-6">Decompose RNA aggregates and define local concentrations as foci. </p>
          </b-field>


      </div>

      <!-- Actual content -->
      <br>
      <div class="content" :disabled="status_detection_applied==false">

          <b-field grouped>
            <b-field>
              <b-checkbox v-model="analyze_clusters" > Decompose RNA clusters</b-checkbox>
            </b-field>

          <b-collapse :open="true" aria-id="contentIdForA11y1" :disabled="status_detection_applied==false || analyze_clusters==false">
            <b-button class="button is-primary" :disabled="status_detection_applied==false || analyze_clusters==false" slot="trigger" icon-left="arrow-down-drop-circle" aria-controls="contentIdForA11y1">Advanced parameters</b-button>
            <div class="notification">

              <b-field>
                <p class="control"> <span class="button is-static">alpha</span></p>
                <b-input v-model.number="cluster_alpha"></b-input>
              </b-field>
              
              <b-field>
                <p class="control"> <span class="button is-static">beta</span></p>
                <b-input v-model.number="cluster_beta"></b-input>
              </b-field>

            </div>
          </b-collapse>

          </b-field>

          <!-- Decompose clusters -->
          <b-field grouped group-multiline>
              <b-field>
                <b-button type="is-primary" :loading="running_decompose_clusters" :disabled="status_detection_applied==false || analyze_clusters==false" @click="btn_decompose_clusters">Decompose aggregates</b-button>
              </b-field>
          
              <!-- Specify spot size -->
              <b-field label="Spot size" horizontal grouped >
                <b-field>
                  <p class="control"> <span class="button is-static">XY [nm]</span></p>
                  <b-input placeholder="200" v-model.number="psf_size_xy"></b-input>
                </b-field>
                <b-field>
                  <p class="control"> <span class="button is-static">Z [nm]</span></p>
                  <b-input placeholder="400" v-model.number="psf_size_z"></b-input>
                </b-field>
              </b-field> <!-- END: specify spot size -->
          </b-field>






          


          <!-- Foci calling -->
          <b-field grouped group-multiline>
              <b-field>
                <b-button type="is-primary" :loading="running_detect_foci" :disabled="status_decompose_clusters==false || analyze_clusters==false" @click="btn_detect_foci">Define foci</b-button>
              </b-field>
          
              <!-- Specify pixel size -->
              <b-field label="" horizontal grouped>
                <b-field>
                  <p class="control"> <span class="button is-static">Min nb of spots</span></p>
                  <b-input placeholder="200" v-model.number="foci_nb_min_spots"></b-input>
                </b-field>
                <b-field>
                  <p class="control"> <span class="button is-static">Radius [nm]</span></p>
                  <b-input placeholder="400" v-model.number="foci_radius"></b-input>
                </b-field>
              </b-field> <!-- END: specify pixel size -->

            </b-field>


      </div> <!-- END Class content -->
    </div> <!-- END class card-content -->
  </div> <!-- END class card -->



  <!-- Card to analyze image(s) -->
  <br>
  <div class="card">
    <div class="card-content">

      <!-- Summary -->
      <div class="summary">
        <div class="summary-content">
          <p class="title is-4">Process file(s)</p>
          <p class="subtitle is-6">Specified settings will be used to process selected file or all files in folder. </p>
        </div>
      </div>

      <!-- Actual content -->
      <br>
      <div class="content">

        <section>
          <b-field grouped group-multiline>
            <b-field>
              <b-button type="is-primary" :loading="running_detect_image" :disabled="status_detection_applied==false" @click="btn_detection_file">Analyze current image</b-button>
            </b-field>
            <b-field>
              <b-button type="is-primary" :loading="running_detect_batch" :disabled="status_detection_applied==false" @click="btn_detection_batch">Launch batch processing</b-button>
            </b-field>
            <b-field>
              <b-checkbox v-model="create_plots" :disabled="status_detection_applied==false">Create plots</b-checkbox>
            </b-field>
          </b-field>
        </section>

      </div> <!-- END Class content -->
    </div> <!-- END class card-content -->
  </div> <!-- END class card -->


</attachment>


<attachment name="postprocessing">

  <!-- Card to specify channel -->
  <div class="card">
    <div class="card-content">

      <!-- Summary -->
      <div class="summary">
        <div class="summary-content">
          <p class="title is-4">Postprocessing</p>
          <p class="subtitle is-6">coming soon. </p>
        </div>
      </div>
      <br>

      <!-- Actual content -->
      <div class="content">


      </div> <!-- END Class content -->
    </div> <!-- END class card-content -->
  </div> <!-- END class card -->


</attachment>

<window lang="html">
  <div>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <div id="app">

      <!-- Navbar -->
      <template>
          <b-navbar>
              <template slot="brand">
                  <b-navbar-item href="#">
                      <a @click="openUrl('https://fish-quant.github.io/fq-imjoy')" class="btn btn-link">
                      <b-icon icon="help-circle" size="is-small"></b-icon> Documentation</a>
                  </b-navbar-item>
                  <b-navbar-dropdown label="Analysis Info">
                    <b-navbar-item href="#">
                        <span> {{ txt_navbar }}</span>
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        <span> {{ txt_navbar_details }}</span>
                    </b-navbar-item>
                </b-navbar-dropdown>
              </template>

              <template slot="end">
                <b-navbar-dropdown  right=true label=""> 
                  <b-navbar-item href="#">
                      <a @click="openUrl('https://github.com/fish-quant/fq-imjoy')" class="btn btn-link"> 
                      <b-icon icon="github-circle" size="is-small"></b-icon> GitHub</a>
                  </b-navbar-item>
                  <hr class="navbar-divider">
                  <div class="navbar-item">
                    <span> FQ plugin: v{{ version_FQ }}</span>
                  </div>  
                    <div class="navbar-item">
                  <span> big-fish: v{{ version_bigfish }}</span>
                  </div>  
                  <div class="navbar-item">
                    <span> FQ interface: v{{ version_interface }}</span>
                  </div>
                </b-navbar-dropdown>
              </template>

           </b-navbar>
      </template>


      <!-- Tabs -->
      <b-tabs type="is-toggle" position="is-centered">
        <b-tab-item label="1. Data specifications" icon="download">
          <div id="cont_data"></div>
        </b-tab-item>
        <b-tab-item label="2. Spot detection" icon="file-find">
          <div id="cont_detection"></div>
        </b-tab-item>
        <b-tab-item label="3. Postprocessing" icon="washing-machine">
          <div id="cont_postprocessing"></div>
        </b-tab-item>
      </b-tabs>

    </div> <!-- END div APP -->
  </div> <!-- END of master div -->
</window> <!-- END Class card -->

<style lang="css">
.is-active .al img {
    font-weight: bold;
}
.al img {
    font-weight: bold;
}
</style>
